body{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    background: grey;
}

/*Header*/
header{
    background: #FDFDFD;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-bottom: 50px;
    
}
.titulo-principal, .link-navegacao{
    display: inline-block;
}
.titulo-principal{
    font-size: 32px;
    font-weight: bolder;
    text-transform: uppercase;
}

.navegacao{
    display: flex;
    text-align: right;
}
.navegacao li{
    list-style: none;
    margin-left: 20px;
    border: 1px solid black;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px;
    transition: 0.3s;
}
.navegacao li:hover{
    background: #CCCCCC;
    font-size: 20.5px;
}
/*Fim Header*/


/*Main*/
main{
    background: linear-gradient(#FDFDFD, #EEEEEE);
    padding-bottom: 2em;
}
.caixa{
    display: flex;
}
.conversao{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto;
}

.conversao li{
    border: 3px solid black;
    list-style: none;
    margin-bottom: 10px;
    padding: 100px;
    flex-shrink: 2;
    flex-grow: 1;
    transition: all;
    
}
.conversao li:hover{
    background: #DDDDDD;
    transition: 0.3s;
}

.enviar{
    display: block;
    margin: 20px auto;
    padding: .5em 1.5em;
    background-color: #dddddd;
    transition: all;
}
.enviar:hover{
    background: #bbbbbb;
    cursor: pointer;
    transition: .7s;
}
.label{
    display: block;
    margin: 0 auto;
    background: #dddddd;
}



/*Fim do Main*/

/*Footer*/
footer{
    background: #CCCCCC;
    padding: 70px 0;

}
footer .copyright{
    margin-top: 0.5em;
    font-size: 18px;
}
/*Fim do Footer*/



/*Mobile*/
@media(max-width: 768px){
    body{
        width: 80%;
    }
    header{
        padding: 68px;

    }
    .titulo-principal{
        font-size: 40px;
    }
    .navegacao li{
        font-size: 25px;
    }
    .conversao li{
        padding: 100px;
    }
    footer .copyright{
        font-size: 34px;
    }
    .tipo-conversao{
        font-size: 30px;
    }
}