body{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    background: grey;
}
/*Header*/
header{
    background: #EEEEEE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    padding-bottom: 50px;
    
}
.titulo-principal, .link-navegacao{
    display: inline-block;
}
.titulo-principal{
    font-size: 32px;
    font-weight: bolder;
    text-transform: uppercase;
}

.navegacao{
    display: flex;
    text-align: right;
}
.navegacao li{
    list-style: none;
    margin-left: 20px;
    border: 1px solid black;
    font-size: 20px;
    border-radius: 5px;
    padding: 10px;
    transition: 0.3s;
}
.navegacao li:hover{
    background: #CCCCCC;
    font-size: 20.5px;
}
/*Fim Header*/


/*Main*/
main{
    background: linear-gradient(#EEEEEE, #DDDDDD );
}
.caixa{
    display: flex;
}
.conversao{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto;
}

.conversao li{
    border: 3px solid black;
    list-style: none;
    margin-bottom: 10px;
    padding: 100px;
    flex-shrink: 2;
    flex-grow: 1;
    
}
.conversao li:hover{
    background: #CCCCCC;
}
/*Fim do Main*/

footer{
    background: #CCCCCC;
    padding: 70px 0;

}
footer .copyright{
    margin-top: 0.5em;
    font-size: 18px;
}




/*Mobile*/
@media(max-width(768px)){
    body{
        width: 80%;
    }
    header{
        padding: 68px;

    }
    .titulo-principal{
        font-size: 50px;
    }
    .navegacao li{
        font-size: 32px;
    }
    .conversao li{
        padding: 185px;
    }
    footer .copyright{
        font-size: 34px;
    }
}